:root {
  --background-primary: #fff;
  --background-secondary: #eee;
  --text-primary: #000;
  --text-secondary: #999999;
  --accent: #f5b5ff;
  --link: #000;
  --accent-link: #f5b5ff;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #000;
    --background-secondary: #121212;
    --text-primary: #fff;
    --text-secondary: #999999;
    --accent: #f5b5ff;
    --link: #fff;
    --accent-link: #f5b5ff;
    --foreground: #ededed;
  }
}