@use "@app/styles/globalTheme";

.button {
  width: 100%;
  height: 3em;
  border: 0.5px solid white;
  border-radius: 0.5em;

  &.primary {
    background-color: var(--accent);
    color: black;
  }

  &.secondary {
    background-color: var(--background-secondary);
    color: var(--accent);
    border: 0.5px solid var(--accent);
  }
}
