@use "@app/styles/globalTheme";

nav {
  height: 5rem;
  width: 100vw;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: fixed;

  a {
    color: var(--link);
  }

  p {
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    gap: 4rem;
    height: 100%;

    li {
      list-style-type: none;
      text-align: center;
    }
  }

  .app-search {
    &-bar {
      height: 3rem;
      width: 15rem;
      border-radius: 0.5em;
      padding: 1em;
      border: none;
      background-color: var(--background-secondary);
      margin-top: 0;

      &:focus {
        outline: none;
        border: 0.1em solid var(--accent);
      }
    }

    &-results {
      position: absolute;
      width: 15rem;
      margin-top: 0.5rem;
      background-color: var(--background-primary);
      border-radius: 0.5rem;
      border: 0.01rem solid #ddd;
      box-shadow: 0px 10px 10px var(--background-secondary);


      &-list {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;

        li {
          width: 100%;
          align-items: flex-start;

          a {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 1rem;
            align-items: center;

            img {
              margin-right: 1rem;
              border-radius: 5rem;
              height: 2rem;
              width: 2rem;
            }
          }

          div {
            margin: 0rem 1rem;
            height: 0.5;
            width: auto;
            background-color: #ddd;
          }
        }
      }
    }
  }

  .sign-out-link {
    width: 5rem;
    text-align: end;
  }
}
