.media-section {
  background-color: var(--background-secondary);
  padding: 2rem;
  flex: 1 1 100%;
  border-radius: 1rem;

  @media only screen and (max-width: 600px) {
    border-radius: 0;
  }

  .posts-container {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    > a {
      width: auto;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      color: var(--text-primary);
      align-items: center;
      text-align: center;
      width: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        margin-bottom: 1rem;
        width: 8rem;
      }

      img {
        object-fit: cover;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
      }

      p {
        width: 8rem;
      }
    }
  }

  .posts-container ::-webkit-scrollbar {
    display: none;
  }
}
